.notification {
  background-color: lightgray;
  padding: 10px;
  font-size: 20px;
  border: 4px solid;
}

.error {
  color: red;
  border-color: red;
}

.success {
  color: green;
  border-color: green;
}
